*.swp
*__pycache__

# Building artifacts
dist/
lsstdesc_crow.egg-info/

# Coverage
.coverage

# VS Code settings
.vscode/

# hypothesis
.hypothesis/


# Documentation
docs/api/
docs/api.rst
docs/index.rst
docs/compiled-examples/
docs/_build/
